* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-green1:#2b9348;
    --color-green2:#80b918;
    --color-green3:#004b23;
}

body {
    font-family: Trebuchet MS , sans-serif;
    font-size: 16px;
}

header {
    background-image: linear-gradient(to left top, var(--color-green2), var(--color-green1));
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 1rem;
    top: 0;
}

.logo {
    margin: 0.5rem;
}

.title {
    margin: 0.5rem;
}

.subTitle {
    text-align: center;
    color: var(--color-green1);
    margin: 2rem;
}

.calorias-section {
    color: var(--color-green1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}

.calorias-section h2 {
    padding: 1rem;
    text-align: center;
}

.calorias {
    color: var(--color-green1);
    border: 2px solid var(--color-green1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
}

.calorias-head {
    color: #FFFFFF;
    background-image: linear-gradient(to left top, var(--color-green2), var(--color-green1));
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    padding: 0.5rem;
}

.macronutrientes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.macronutriente {
    color: var(--color-green1);
    text-align: center;
    margin: 1rem;
}

.macronutiente-input {
    border: 2px solid;
    border-color: var(--color-green1);
    border-radius: 20px;
    text-align: center;
    height: 2rem;
    margin: 0.5rem;
    outline: none;
}

.macronutiente-input::placeholder {
    color: var(--color-green1);
    opacity: 1;
    font-style: italic;
}

.macronutiente-input:focus::placeholder {
    color: transparent;
}

.macronutiente-input::-webkit-outer-spin-button,
.macronutiente-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.resultado-calorias {
    margin: 1rem;
}

.calcular-calorias-button {
    background: var(--color-green1);
    font-family: Trebuchet MS , sans-serif;
    color: white;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    margin: 2rem;
}

.calcular-calorias-button:hover {
    background-color: var(--color-green3);
    cursor: pointer;
}

.teor-nutrientes-section {
    color: var(--color-green1);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3rem;
}

.teor-nutrientes-section h2 {
    padding: 1rem;
    text-align: center;
}

.teor-nutrientes {
    color: var(--color-green1);
    border: 2px solid var(--color-green1);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 70%;
}

.teor-nutrientes-head {
    color: #FFFFFF;
    background-image: linear-gradient(to left top, var(--color-green2), var(--color-green1));
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

.tipo-porcao {
    color: var(--color-green1);
    text-align: center;
}

.tipo-porcao label {
    margin: 1rem;
}

.tipo-porcao-opcoes {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.radio-selecionado {
    accent-color: var(--color-green1);
    transform: scale(2);
    margin: 1rem;
}

.porcao-input {
    border: 2px solid;
    border-color: var(--color-green1);
    border-radius: 20px;
    text-align: center;
    width: 12rem;
    height: 2rem;
    margin: 0.5rem;
    outline: none;
}

.porcao-input::placeholder {
    color: var(--color-green1);
    opacity: 1;
    font-style: italic;
}

.porcao-input:focus::placeholder {
    color: transparent;
}

.porcao-input::-webkit-outer-spin-button,
.porcao-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.nutrientes {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

.nutriente {
    color: var(--color-green1);
    text-align: center;
    margin: 1rem;
}

.resultado-teor-nutrientes {
    margin: 1rem;
}

.resultado-teor-nutrientes p {
    margin: 0.5rem;
}

.verificar-teor-nutrientes-button {
    background: var(--color-green1);
    font-family: Trebuchet MS , sans-serif;
    color: white;
    border: none;
    border-radius: 20px;
    height: 40px;
    width: 100px;
    margin: 2rem;
}

.verificar-teor-nutrientes-button:hover {
    background-color: var(--color-green3);
    cursor: pointer;
}

footer {
    background-image: linear-gradient(to left top, var(--color-green2), var(--color-green1));
    color: white;
    text-align: center;
    padding: 1rem;
}

footer p {
    padding-bottom: 0.25rem;
}

.link-projeto {
    color: white;
}

@media screen and (max-width: 1000px) {
    .macronutrientes, .nutrientes {
        flex-direction: column;
        align-items: center;
    }

    .tipo-porcao-opcoes {
        flex-direction: column;
        align-items: start;
    }
}

@media screen and (max-width: 600px) {
    .calorias, .teor-nutrientes {
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .radio-selecionado {
        margin: 0.5rem;
    }
}